<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
    <p th:text="${book.getTitle()} + ', ' + ${book.getAuthor()} + ', ' + ${book.getYear()}">Book info</p>

    <div th:if="${person}">
    <p th:text="'Book got by: ' + ${person.name}"></p>
    </div>
    <div th:unless="${person}">
        <form th:method="patch" th:action="@{/books/{id}/slave(id=${book.id})}">
    <label for="personId">Choose owner:</label>
    <select id="personId" name="personId">
        <option th:each="person : ${people}"
                th:value="${person.id}"
                th:text="${person.name}">
        </option>
    </select>
    <button type="submit">Okey</button>
    </form>

    </div>

    <!-- Ссылка для редактирования книги -->
    <a th:href="@{/books/{id}/edit(id=${book.id})}">
        <button>Edit</button>
    </a>

    <!-- Форма для удаления книги -->
    <form th:method="delete" th:action="@{/books/{id}(id=${book.id})}">
        <input type="submit" value="Delete"/>
    </form>
</body>
</html>
